{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5" >
        <div class="col-md-7 text-center">
            <h1>Streamline your <b>Priorities</b>. Yes!</h1> <br>

            <p>Discover the power of focus with <b>VitalVault</b>! Tackle life's chaos effortlessly by highlighting what truly matters. Your organized life starts <u><i>HERE</i></u>.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
